# התעלמות מתיקיות venv, git ומטמון
exclude =
    .git,
    __pycache__,
    venv,
    venv_py311,
    .vscode

# התעלמות משגיאות ספציפיות:
# E501: אורך שורה ארוך מדי (מעל 79 תווים)
# F401: מודול יובא אך לא נעשה בו שימוש (נפוץ בספריות חיצוניות)
# F403: יבוא של * (גם נפוץ בספריות חיצוניות, כמו scipy)
ignore = E501, F401, F403

# ניתן לשנות את אורך השורה המקסימלי במקום להתעלם, למשל 88:
# max-line-length = 88